/* Roboto font: https://fonts.google.com/specimen/Roboto */
@font-face{
font-family: 'Roboto', sans-serif;
src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet');
}
h1, h2, h3, h4, h5, h6, p, div, span, a {
    font: "Roboto", sans-serif;
}

h1 {font-size: 28px; font-weight: 700;}
h2 {font-size: 26px; font-weight: 500;}
h3 {font-size: 24px; font-weight: 500;}
h4 {font-size: 22px; font-weight: bold;}
h5 {font-size: 20px;}
h6 {font-size: 18px;}
p {font-size: 18px; font-weight: 400;}
div {font-size: 16px; line-height: 140%;}
span {font-size: 16px;}
a {font-size: 18px;}

/* Multiple Line Text Box size */
.Skin .TE .ML .InputText{ width: 636px; height:100px;}

.Skin .Matrix .table-cell{font-size:15px; line-height: 120%;}

/* .Skin .Matrix th {font-size: 14px;line-height: 150%; background-color:#dedede;} */

.Skin #Buttons #NextButton, .Skin #Buttons #PreviousButton {
font-size: 17px; padding:8px;}

/* QUALTRICS FONT STYLE EXAMPLES FOR MOBILE */

@media (max-width: 480px) {
.Skin .QuestionText {
font-size: 30px;
}
.Skin .QuestionBody {
font-size: 18px;
}
.Skin .QuestionBody {
.Bordercolor: none;
}
.Skin .Inner .QuestionText {
font-size: 16px;
}
}
