@font-face{
font-family: 'Roboto', sans-serif;
src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
 
h1, h2, h3, h4, h5, h6, p, div, span, a { font-family: 'Roboto', sans-serif; }
h1 {font-size: 28px;}
h2 {font-size: 26px; font-weight: 500;}
h3 {font-size: 22px; font-weight: 500;}
h4 {font-size: 22px; font-weight: 400;}
h5 {font-size: 20px;font-weight: 400;}
h6 {font-size: 18px;}
p {font-size: 18px;}
/* SHOULD BE THE SAME SIZE AS P TAG */
a {font-size: 18px;}
/* FIRST PAGE PAR. IS A DIV */
div {font-size: 16px; line-height: 140%;}
span {font-size: 16px;}

/* QUESTION SPACING */
.Skin .Separator { margin: 0px 20px; }
.Skin .QuestionText { padding: 20px; 0px; }
.Skin .QuestionBody { padding:0px 1px 0px 1px; }

/* Multiple Line Text Box size */
.Skin .TE .ML .InputText{ width: 636px!important; height:100px!important;}

/* MATRIX STYLES */
/* .Skin .Matrix .table-cell{font-size:15px!important; line-height: 120%;} */
/* .Skin .Matrix th {font-size: 14px;line-height: 150%; background-color:#dedede;} */

/* MATRIX QUESTIONS - NEED TO HAVE <span class="matsale" ADDED IN HTML IN SURVEY */
.matquest {font-size: 16px; font-weight: 300; }
/* MATRIX SCALES */
.matscale {font-size: 13px/14px; font-weight: 300; }
/* ANOTHER POSSIBLE OPTION */
/*.LabelWrapper {font-size: 30px; font-weight: 300;} */

/* BUTTONS */
.Skin #Buttons #NextButton, .Skin #Buttons #PreviousButton { font-size: 17px; padding:8px;}

/* QUALTRICS FONT STYLE EXAMPLES FOR MOBILE */

@media (max-width: 480px) {
.Skin .QuestionText {
font-size: 20px;
}
.Skin .QuestionBody {
font-size: 18px;
}
.Skin .QuestionBody {
.Bordercolor: none;
}
.Skin .Inner .QuestionText {
font-size: 16px;
}
}
